:root{
--primary-text-color: #757575;
--primery-title-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--footer-hero-background-color: #2F303A;
--header-logo-color: #000000;
}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo {
    display: inline-block;
    width: 145px;
    text-decoration: none;
    font-family: 'Raleway', variable;
    font-size: 26px;
    line-height: 1.19;
    color: var(--header-logo-color);
}
.accent-logo {
    color: var(--accent-color);
}

.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.hero,
.footer {
    background: var(--footer-hero-background-color);
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.hidden-section-title{
    display: none;
    visibility: hidden;

}

.work-title,
.staff-title{
    margin-top: 0;
    margin-bottom: 50px;
    width: 366px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.17;
    color: var(--primery-title-color);
}

.staff-title {
    width: 264px;
}

.nav-link {
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--primery-title-color);
}

.site-nav .link.current,
.section-project .current {
    color: var(--accent-color);
}

.benefits-section{
    padding-top: 0;
}
.benefits-title{
    margin-top: 0;
    margin-bottom: 10px;
    width: 270px;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-title-color);
}

.benefits-section .text{
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
}

.staff-title-name{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primery-title-color);
}

.section-staff {
    background-color: #F5F4FA;
}

.studio-button {
    display: inline-block;
    min-width: 216px;
    height: 50px;
    padding: 10px 32px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
}

.studio-button:hover,
.studio-button:focus {
    background-color: var(--accent-color);
}

.potfolio-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    height: 38px;
    background-color: #F5F4FA;
    color: var(--primery-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    font-family: inherit;
}

.btn-usi{
    padding: 6px 25px;
    min-width: 73px;
}

.btn-web-sites,
.btn-dodatki,
.btn-dizain,
.btn-marketing {
    padding: 6px 22px;
}

.btn-web-sites{
    min-width: 125px;
}

.btn-dodatki{
    min-width: 112px;
}

.btn-dizain {
    min-width: 103px;
}

.btn-marketing {
    min-width: 130px;
}

.potfolio-button:hover,
.potfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}



.project-title{
    margin: 20px 24px 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-title-color);
}

.project-examples .text{
    margin: 4px 24px 20px;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.footer-link{
    display: inline-block;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
}

.benefits-section .text {
    line-height: 1.71;
}

.business-card {
    width: 270px;
    height: 108px;
    text-align: center;
    background-color: var(--primary-white-color);
}

.business-card .text{
    display: inline-block;
    width: 130px;
    margin: 0;
    font-size: 16px;
    line-height: 1.19;

}

.section-project .text{
    font-size: 16px;
    line-height: 1.88;
}

.address-text{
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


}

.hero-container,
.benefits-section-container,
.section-staff-container  {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-container {
    height: 80px;
}

.hero-container{
    padding-top: 200px;
    padding-bottom: 280px;
    text-align: center;
}

.work-section-container{
    padding-bottom: 94px;
}

.footer-container{
    padding-top: 94px;
    height: 252px;
}

.project-container{
    padding-top: 34px;
    padding-bottom: 94px;
}

.portfolio-button-container{
    padding-top: 94px;
}

.project-examples{
    width: 370px;
    background: var(--primary-white-color);
    border: 1px solid #EEEEEE;
}

.picture,
.photo{
    display: block;
}